version: "3.9"

services:
  auth-service:
    build: ./auth-service
    ports:
      - "8001:8001"

  expense-service:
    build: ./expense-service
    ports:
      - "8002:8002"

  api-gateway:
    build: ./api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - auth-service
      - expense-service
